:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141414;
}

* {
 
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #181817;
  margin: 0;
  height: 100%;
  padding: 0;
  transition: background-color 1s ease;
}

.sub_div {
  position: absolute;
  bottom: 0px;
  margin-left: 36px;
}

h2 {
  font-size: 48px;
}

/*liststyles*/

ul {
  list-style: none;
  padding-left: 0;
}

ul li:before {
  content: "\00BB \0020";
  color: #FAC921;
}

/* The laptop with borders */

.laptop {
  left: 10%;
  position: relative;
  width: 80%;
  height: 0%;
  border-radius: 6px;
  background-color: black;
  border: 3px solid silver;
  padding-bottom: 50%;
}

/* The keyboard of the laptop */

.laptop:after {
  content: '';
  display: block;
  position: absolute;
  width: 116%;
  height: 6%;
  margin-left: -8%;
  top: 100%;
  background: silver;
  border-radius: 6px;
}

/* The top of the keyboard */

.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 32%;
  height: 3%;
  top: 100%;
  left: 34%;
  background: #777;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

/* The screen (or content) of the device */

.laptop .content {
  width: 98%;
  height: 98%;
  overflow: hidden;
  border: none;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
}

/* Gradient Scrollbar */

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}

/* Main */

main {
  margin-left: 5rem;
  padding: 1rem;
}

/*autotype*/

.typed {
  border-right: solid 4px rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: rgba(255, 255, 255, .70);
  margin: 0 auto;
}

/* Animation */

.typed {
  animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 695px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*paperplane*/

.paperplane {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  background-color: #50befa;
  border-radius: 50%;
}

.plane {
  position: absolute;
  left: 200px;
  top: 150px;
  animation: move 3s linear infinite;
}

.wingRight {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 115px solid white;
  transform: rotate(61deg);
  z-index: 4;
}

.bottom {
  position: relative;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25.5px solid #676d70;
  top: 71px;
  transform: rotate(-5deg);
  left: -52.5px;
  z-index: 3;
}

.top {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #c1c7c9;
  top: 65px;
  transform: rotate(5deg);
  left: -60px;
  z-index: 1;
}

.middle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 135px solid #c1c7c9;
  top: -13.5px;
  transform: rotate(72deg);
  left: -7.5px;
  z-index: 2;
}

.wingLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 135px solid white;
  transform: rotate(78deg) skewY(-35deg);
  left: -18.5px;
  z-index: 3;
  top: -30px;
}

.clouds {
  position: absolute;
  top: 50px;
  left: 100px;
}

.cloudOne, .cloudTwo, .cloudThree {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #fff;
  border-radius: 100px 100px 0 0;
}

.cloudOne {
  top: 0;
  left: 0;
  animation: cloud 3s linear infinite reverse;
}

.cloudTwo {
  top: 50px;
  left: 100px;
  animation: cloud 2.5s linear infinite reverse;
}

.cloudThree {
  top: 250px;
  left: 50px;
  animation: cloud 2.8s linear infinite reverse;
}

.cloudOne:before, .cloudTwo:before, .cloudThree:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 12.5px;
  background-color: #fff;
  border-radius: 100px 100px 0 0;
  left: -20px;
  top: 12.5px;
  box-shadow: 65px 0 #fff;
}

@keyframes move {
  0% {
    transform: translateY(0) rotateX(0);
  }
  25% {
    transform: translateY(-30px) rotateX(40deg);
  }
  50% {
    transform: rotateX(0) translateY(0);
  }
  75% {
    transform: rotateX(-40deg) translateY(30px);
  }
  100% {
    transform: rotateX(0) translateY(0);
  }
}

@keyframes cloud {
  from {
    left: -150px;
  }
  to {
    left: 400px;
  }
}

/*gradient-text*/

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #833ab4, #fcb045);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 24px;
  font-weight: bolder;
  text-align: end;
}

a {
  color: white;
}

/* Mark-Highlight */

mark {
  --color1: #FAC921;
  ;
  --color2: #FAC921;
  ;
  --height: 90%;
  all: unset;
  display: inline-block;
  height: 1.05em;
  line-height: 1.1;
  background: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--height);
  animation: highlight 1000ms 1 ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes highlight {
  to {
    background-size: 100% var(--height);
    color: black;
  }
}

/* OUTLINE */

.outlined {
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 white, 0 -1px 0 white, 1px -1px 0 white, 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white, -1px 0 0 white;
}

/* intro'S */

.introContainer {
  font-weight: bold;
  display: flex;
  background: #181817;
  color: white;
  height: 100vh;
  position: relative;
  padding-left: 10%;
  overflow: hidden;
}

.intro {
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
  padding-bottom: 1%;
  position: absolute;
  bottom: 0;
}

.introTwo {
  font-weight: bold;
  overflow: hidden;
  display: block;
  padding-top: 48px;
  padding-left: 10%;
  background: #181817;
  color: white;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
  padding-bottom: 160px;
}

.introAM {
  font-weight: bold;
  overflow: hidden;
  display: block;
  padding-top: 48px;
  padding-left: 10%;
  background: #181817;
  color: white;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
  padding-bottom: 160px;
}

.introLB {
  font-size: 20px;
  display: block;
  color: white;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
  padding-bottom: calc(12px + 5vw);
}

.iskills {
  font-size: 20px;
  overflow: hidden;
  display: block;
  background: #181817;
  color: white;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
}

.interessen {
  font-size: 20px;
  overflow: hidden;
  display: block;
  background: #181817;
  color: white;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
}

/*moveable image*/

.abschnitt {
  position: relative;
  min-height: 50vh;
  margin: auto;
  background-color: #48c9b0;
  color: #ffffff;
  overflow: hidden;
}

.abschnitt.bg-static {
  background-color: #000000;
  height: 200vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.abschnitt .bg-move {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: auto;
  width: 100%;
  background-image: url("gg.gif");
  transform: rotate(120deg);
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*progressbar*/

#progressbar {
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
  position: fixed;
  margin-left: 2%;
  top: 20;
  left: 0;
  width: 0.3rem;
  border-radius: 10px;
  z-index: 1000;
}

.introI {
  font-weight: bold;
  overflow: hidden;
  display: block;
  padding-top: 48px;
  padding-left: 10%;
  background: #181817;
  color: white;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
  padding-bottom: 160px;
}

.introRef {
  font-weight: bold;
  overflow: hidden;
  display: block;
  padding-top: 48px;
  padding-left: 10%;
  font-size: clamp(48px, 7.5vw, 10vmin);
  line-height: 1.1;
  padding-bottom: 160px;
}

.outro {
  font-weight: bold;
  overflow: hidden;
  display: block;
  padding-top: 48px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: clamp(24px, 5.5vw, 3vmin);
  line-height: 1.1;
  padding-bottom: 160px;
}

/* The device with bevel */
.tablet {
  position: relative;
  width: 75%;
  height: 0;
  padding-bottom: 95%;
  margin: auto;
  border: 20px solid #000;
  border-radius: 26px;
  /*background-image: linear-gradient( 109.9deg,  rgba(251,189,100,1) 1.8%, rgba(255,207,139,1) 95.4% );*/
  background-image: url(img/tablet.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* The camera */
.tablet .tcontent:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -17px;
  left: calc(50% - 6px);
  border-radius: 50%;
  background-color: #537895;
  background-image: radial-gradient(#3576e0, #185dce, #25336d, #00163a, #1d3ec1, #333);
}

/* The side button */
.tablet .tcontent:after {
  content: '';
  display: block;
  width: 0.5%;
  height: 5%;
  position: absolute;
  left: 100%;
  top: 5%;
  margin-left: 20px;
  background-color: #000;
  border-radius: 0 5px 5px 0;
}

/* The screen content */
.tablet .tcontent {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: white;
}


/* panel styles */

.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */

.color-black {
  background-color: #181817;
}

.color-white {
  background-color: #ffffff;
  color: black;
}

video {
  /* override other styles to make responsive */
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.marquee {
  width: 100%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  overflow: hidden;
}

.marquee h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.marquee .marquee-wrapper {
  width: 100000px;
  animation: marqueeAnimation 38s linear 0s infinite running;
}

.marquee h3 .marquee-title {
  margin-right: 20px;
  float: left;
}

.text-stroke-black {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

@keyframes marqueeAnimation {
  100% {
    transform: translateX(-4600px);
  }
}

@media (max-width: 992px) {
  .marquee h3 {
    font-size: 16px;
  }
}

@media (max-width: 549px) {
  .marquee h3 {
    font-size: 12px;
  }
}

.arrow {
  position: absolute;
  top: 88%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffc815;
  border-right: 5px solid #ffc815;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.quicknav {
  position: absolute;
  top: 3%;
  margin-right: 10%;
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.quicknav span:hover {
  opacity: 1;
  color: #FAC921;
}

.facterinos {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.aboutmetxt {
  width: 50%;
  font-size: calc(16px + 1.4vw);
  ;
}

.facts {
  width: 70%;
}

.factalt {
  display: none;
}

.laptopbg {
  font-size: calc(12px + 1vw);
  position: fixed;
  overflow: hidden;
  margin-left: 1%;
  margin-top: 0.5%;
}

.laptopwdw {
  display: flex;
  justify-content: center;
  margin: 2%;
  height: 90%;
  width: 95%;
}

.tabwdw {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: lightgrey;
  border-radius: 4px 4px 0px 0px;
  color: rgb(0, 0, 0);
}

.tabwdw p {
  font-size: calc(6px + 0.65vw);
  margin-left: 2%;
  width: 100%;
  color: black;
}

.dots {
  display: flex;
  margin-right: 2%;
}

.pro {
  display: flex;
  align-items: center;
  margin-right: 10%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 36px;
}

.pro_image {
  width: 60%;
}

.pro img {
  opacity: 0.8;
  border-radius: 4px;
  width: 100%;
  height: auto
}

.pro_text {
  padding-left: 24px;
  width: 60%;
  z-index: 1;
  margin-left: -10%;
}

.pro_text h1 {
  margin: 0;
  font-size: calc(12px + 2.5vw);
}

.pro_text p {
  font-size: calc(10px + 0.5vw);
  text-align: justify;
}

.pro_text #linkerino {
  display: none;
}

.ll {
  margin-right: 10%;
  font-size: calc(12px + 0.5vw);
  padding-top: 24px;
}

.resume_inf {
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.resume_inf h2 {
  font-size: calc(12px + 1.5vw);
  font-weight: bold;
  color: #FAC921;
}

.resume_inf p {
  font-size: calc(11px + 0.6vw);
}

.resume_inf ul {
  font-size: calc(12px + 0.5vw);
  line-height: 1.3;
  color: #989898
}

.skill-cards {
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%
}

.skiill.comment {
  display: none;
}

.skiill {
  min-width: 25%;
  max-width: 25%;
  margin-bottom: 4rem;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-left: 1px solid #FAC921;
  background: linear-gradient(to right, #FAC921 50%, #2d2d32 49%);
  background-size: 200% 200%;
  background-position: right bottom;
  transition: all 1s;
}

.skiill:hover {
  background-position: left bottom;
  transition-duration: 500ms;
}

.skiill:hover h1 {
  display: none;
}

.skiill .comment {
  display: none;
}

.skiill:hover .replies {
  display: none;
}

.skiill:hover .comment {
  display: flex;
  color: black;
}

.skiill h1 {
  font-size: 2vw;
  margin-bottom: 0;
  margin-left: 2%;
}

.skiill p {
  font-size: 1.5vw;
  margin-top: 0;
  margin-left: 2%;
  color: #bebebe;
}

.skiill span {
  font-size: 1.2vw;
  justify-content: center;
}

.trythis {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.videoint {
  display: flex;
  align-items: center;
  margin-right: 10%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 36px;
}

.videoint h1 {
  margin: 0;
  font-size: 4vw;
}

.videoint p {
  font-size: 1.3vw;
  color: lightgray;
  text-align: justify;
}

.videos {
  width: 40%;
}

.int_text_right {
  width: 60%;
  padding-left: 24px
}

.int_text_left {
  width: 60%;
  padding-right: 24px;
}

@media (max-width: 50em) {
  * {
    transition: ease all;
  }
.panel{
  min-height: 50vh;
}

  .intro{
    padding-bottom: 5%;
  }
  .arrow{
    display:none;
  }

  .aboutmetxt {
    width: 40%;
  }
  .facts {
    display: none;
  }
  .factalt {
    display: block;
    width: 50%;
  }
  .factalt ul { 
    font-size: calc(12px + 0.6vw);
    line-height: 3;

  }
 
  ul li:before {
    content: none;
  }

 
  .facterinos{
    width: 100%;
    margin-left:-5%;
    justify-content: space-evenly;

  }

  .introAM{
    padding-bottom: 0;
  }


  img#optionalstuff {
    display: none;
  }
  .pro {
    width: 80%;
  }
  .pro_image {
    display: none;
  }
  .pro_text {
    width: 100%;
  }
  .pro_text #linkerino {
    display: block;
    color: black;
  }
  .pro_text a {
    color: #000000;
  }
  .introLB {
    padding-bottom: 0;
  }
  /**divskiill**/
  .introI {
    padding-bottom: calc(12px + 5vw);
    padding-top: 0;
  }
  .skiill {
    margin-right: 15%;
    min-width: 94%;
    height: 40px;
    margin-bottom: 1em;
  }
  .skiill h1 {
    font-size: 16px;
  }
  .skiill p {
    font-size: 14px;
  }
  .skiill span {
    font-size: 14px;
  }
  /**interessensection**/
  .videoint p {
    font-size: 12px;
  }
  .videos {
    width: 0%;
    display: none;
  }
  .int_text_right {
    width: 100%;
    padding: 0;
  }
  .int_text_left {
    width: 100%;
    padding-right: 0;
  }
}